# Logs
frontend/logs
backend/logs
frontend/*.log
backend/*.log
frontend/npm-debug.log*
backend/npm-debug.log*
frontend/yarn-debug.log*
backend/yarn-debug.log*
frontend/yarn-error.log*
backend/yarn-error.log*
frontend/pnpm-debug.log*
backend/pnpm-debug.log*
frontend/lerna-debug.log*
backend/lerna-debug.log*

frontend/node_modules
backend/node_modules
frontend/dist
backend/dist
frontend/dist-ssr
backend/dist-ssr
frontend/*.local
backend/*.local

# Editor directories and files
frontend/.vscode/*
backend/.vscode/*
!.vscode/extensions.json
frontend/.idea
backend/.idea
frontend/.DS_Store
backend/.DS_Store
frontend/*.suo
backend/*.suo
frontend/*.ntvs*
backend/*.ntvs*
frontend/*.njsproj
backend/*.njsproj
frontend/*.sln
backend/*.sln
frontend/*.sw?
backend/*.sw?

# Environment variables
frontend/.env
backend/.env
tmp_remote_repo

